node_modules
# Keep environment variables out of version control
.env

/generated/prisma

# Uploaded files
/resources/

# Carpetas de build
/build/

# Logs
/logs/

# uploads
/uploads/

# Dist folder
/dist/